*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
   
}

.container-fluid{
    max-width: 100%;
    width: 100%;
}

.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 999999 ;
    margin-top: 39px;
   margin-left: 30px;
}

@media(max-width: 952px){
    .overlay{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2 ;
        left: 0;
        top: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow: hidden;
        transition: 0.5s;
    }
    .overlay .closebtn{
        margin: 20px 35px;
        font-size: 55px;
    }
    .navbar .fa{
        font-size: 35px;
        color: #fff;
        cursor: pointer;
    }
    .navbar .fa:hover{
        color: #c7b299;
    }
    #overlay-content{
        position: relative;
        width: 100%; 
        text-align: center; 
        display: block;
    }
    #overlay-content .nav-item .nav-link{
        font-family: 'montserrat' sans-serif;
        font-size: 22px;
        font-weight: 500px;

    }
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block; 
        transition: 0.3s;
    }
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
     
}
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  @media(min-width:953px) and (max-width: 1400px){
    .navbar .overlay .closebtn {
        position: absolute;
    top: -100%;
      
    }
    .navbar #click{
        position: absolute;
       top: -100%;
  }
}

.container-fluid .row .nav .nav-item{
    color: #fff;
    font-family: 'montserrat' sans-serif;
    font-size: 14px;
    font-weight: 300px;
}
.container-fluid .row .nav .nav-item .nav-link{
    color: #fff;
}
.container-fluid .row .nav .nav-item .nav-link:hover{
    color:#c7b299;
}
.container-fluid .row .navbar-brand{
    font-family: 'Raleway' sans-serif;
    font-size: 34px;
}

.container-fluid .row .header-center{
    width: 100%;
    position: absolute;
    margin: 260px auto;
    text-align: center;
    

}
.container-fluid .row .header-center span{
    font-size: 36px;
    font-weight: 500;
    font-family: 'raleway' sans-serif;
    color: #fff;
}
.container-fluid .row .header-center h2{
    font-size: 52px;
    font-weight: 800;
    font-family: 'Raleway' sans-serif;
    color: #fff;
}
.container-fluid .row .header-center p{
    font-size: 16px;
    font-weight: 300;
    font-family: 'montserrat' sans-serif;
    color: #fff;
    text-align: center;
}
.container-fluid .row .header-center .btn{
    padding: 21px 38px;
    font-family: 'raleway' sans-serif;
    font-weight: 800;

}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
/* ==================Media================ */




@media (max-width:767px) {
    body{
        overflow-x: hidden;
    }
    .container-fluid .row .header-center span{
        font-size: 30px;
        font-weight: 500;
    }
    .container-fluid .row .header-center h2{
        font-size: 40px;
        font-weight: 800;
    }
    .container-fluid .row .header-center p{
        font-size: 12px;
        font-weight: 300;
    }
    .container-fluid .row .header-center .btn{
        padding: 16px 30px;
        font-weight: 600;
    
    }
    .navbar{
        position: absolute;
    }
    .navbar i{
       position: absolute;
        margin-left: 360px !important;
    }
    .container-fluid .row  .portfolio-ideas .portfolio-img .img-left{
        width: 300px;
        margin-top: 54px;
    }
    .container-fluid .row  .portfolio-ideas .portfolio-img .img-center{
        width: 300px;
        height: 100vh;
       
    }
    .container-fluid .row  .portfolio-ideas .portfolio-img .img-right{
        width: 300px;
        margin-top: 54px;
    }
    .portfolio-ideas .theme{
        height: 130px;
    }

    .container-fluid .row .portfolio-ideas .theme .theme-txt h2{
        font-size: 16px;
        font-weight: 300;
    }
    .container-fluid .row .portfolio-ideas .theme .theme-txt h2 span{
        font-size: 16px;
        font-weight: 300;
    }
    .container-fluid .row .portfolio-ideas .theme .btn{
        padding: 10px 16px;
        font-size: 12px;
        font-weight: 600;
    }
    .container-fluid .row .portfolio-ideas .theme .theme-txt p{
        font-size: 12px;
        font-weight: 400;
    }
    
    .container .devices{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        margin-top: 20px;
        overflow: hidden;
    
    }
    .container .devices img{
        width: 150px;
        margin-top: 15px;
        
    }
    .container .devices .devices-text{
        margin-top: 50px;
    }
    .container .devices .devices-text ul{
        margin: 0;
    }
    .container .devices .devices-text h3{
        font-weight: 600;
        font-size: 20px;
        font-family: 'raleway';
        color: #555555;
        text-align: center;
    
    }
    .container .devices .devices-text p{
        font-weight: 500;
        font-size: 10px;
        font-family: 'montserrat';
        color: #8c8c8c;
        text-align: center;
    
    }
    .container .devices .devices-text ul li{
        font-weight: 500;
        font-size: 12px;
        font-family: 'montserrat';
        color: #8c8c8c;
    
    }
    .container .devices .devices-text ul li i{
        font-size: 21px;
        color: #c7b299;
      
    }

    body .clients{
        height: 110px;
    }
   

    body .clients .container .clients-text {
        margin-top: 20px;
        margin-right: 40px;
    }
body .clients .container .clients-text i{
        font-size: 20px;
        margin-bottom: 8px;
    }
   body .clients .container .clients-text h2{
        font-size: 20px;
        font-weight: 200;
    }
   body .clients .container .clients-text p{
        font-size: 6px;
        font-weight: 500;
    }
    .images{
        margin-top: 40px;
        width: 100%;
        height: 389px;
        background-image: url(./img/photo1.png);
        background-position: center;
        background-size: cover;
        position: relative;
        
    }
    .images .logos {
        width: 100%;
        margin: 0 !important;
        position: absolute;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
      
    }
    .images .logos img{
        width: 120px;
        margin: 40px 40px 0 !important; 
     
    }
 }

@media (min-width:768px) and (max-width:991px) {
    body{
        overflow-x: hidden;
    }
    .container-fluid .row .header-center span{
        font-size: 26px;
        font-weight: 500;
        font-family: 'raleway' sans-serif;
        color: #fff;
    }
    .container-fluid .row .header-center h2{
        font-size: 36px;
        font-weight: 800;
        font-family: 'Raleway' sans-serif;
        color: #fff;
    }
    .container-fluid .row .header-center p{
        font-size: 8px;
        font-weight: 300;
        font-family: 'montserrat' sans-serif;
        color: #fff;
        text-align: center;
    }
    .container-fluid .row .header-center .btn{
        padding: 10px 26px;
        font-family: 'raleway' sans-serif;
        font-weight: 600;
    
    }

    body .clients{
        height: 150px;
    }

    body .clients .container .clients-text {
        margin-top: 30px;
        margin-right: 40px;
    }
body .clients .container  .clients-text i{
        font-size: 28px;
        margin-bottom: 10px;
    }
   body .clients .container .clients-text h2{
        font-size: 28px;
        font-weight: 200;
    }
   body .clients .container .clients-text p{
        font-size: 6px;
        font-weight: 500;
    }

    .images{
        
        margin-top: 40px;
        width: 100%;
        height: 489px;
        background-image: url(./img/photo1.png);
        background-position: center;
        background-size: cover;
        position: relative;
        
    }

    .images .logos {
       
        position: absolute;
        margin-top: 180px !important;
        display: flex !important;
        flex-flow: row wrap !important;
       
      
    }
    .images .logos img{
        width: 140px;
        margin: 0 30px 20px !important; 
       
      
        
        
     
    }
 }
 @media (min-width:992px) and (max-width:1199px) {
    .container-fluid .row .header-center span{
        font-size: 30px;
        font-weight: 500;
    }
    .container-fluid .row .header-center h2{
        font-size: 40px;
        font-weight: 800;
    }
    .container-fluid .row .header-center p{
        font-size: 12px;
        font-weight: 300;
    }
    .container-fluid .row .header-center .btn{
        padding: 16px 30px;
        font-weight: 600;
    
    }
    
 }
 @media (min-width:1200px) {
    
   
 }
 

 /*////////////////////// Main//////////////// */

 .about-us{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin: 81px 0 113px 0;
 }
 .about-us .about1{
     width: 269px;
 }
 .about1 h2{
     font-size: 22px;
     font-family: 'raleway' sans-serif;
     font-weight: 600;
     color: #555555;
     text-align: center;
 }
.about-us .about1 p{
    font-size: 14px;
    font-family: 'raleway' sans-serif;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
}
 .about-us .about1 i{
     font-size: 47px;
     color: #555;
     margin: 0 109px 34px;
 }
 .about-us .about1:hover{
     border-bottom: 3px solid #c7b299 ;
    
 }
 .about-us .about1 a:hover {
     color:#c7b299;
 }
 .about-us .about1 h2:hover {
    color:#c7b299;
}
.about-us .about1 i:hover {
    color:#c7b299;
}

/*/////////////// portfolio ideas////////////// */

.portfolio-ideas{
    background-color: #fbfaf8;
    padding-top: 83px;
}
.portfolio-ideas .portfolio-text h2{
    font-size: 30px;
    font-weight: 600;
    font-family: 'raleway' sans-serif;
    color: #555555;
    text-align: center;
}
.portfolio-ideas .portfolio-text p{
    font-size: 16px;
    font-weight:300;
    font-family: 'montserrat' sans-serif;
    color: #8c8c8c;
    text-align: center;

}

.portfolio-ideas .portfolio-img {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.portfolio-ideas .portfolio-img .img-center {
    position: relative;
    margin-left: 0%;
    margin-top: 20px;
    z-index: 3;
    cursor: pointer;
}

.portfolio-ideas .portfolio-img .img-left {
    position: absolute;
    margin-left: -17%;
    margin-top: 85px;
    cursor: pointer;
}

.portfolio-ideas .portfolio-img .img-right {
  position: absolute;
  margin-left: 17%;
  margin-top: 85px;
  cursor: pointer;
}

.portfolio-ideas .portfolio-img .img-left:hover {
    z-index: 4;
}

.portfolio-ideas .portfolio-img .img-right:hover {
    z-index: 4;
}

.portfolio-ideas .theme{
    width: 100%;
    height: 151px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.portfolio-ideas .theme .theme-txt h2{
    font-size: 28px;
    font-weight: 400;
    font-family: 'raleway' sans-serif;
    color: #fff;
}
.portfolio-ideas .theme .theme-txt h2 span{
    font-size: 28px;
    font-weight: 400;
    font-family: 'raleway' sans-serif;
    color: #c7b299;
}
.portfolio-ideas .theme .theme-txt p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'montserrat' sans-serif;
    color: #615855;
}
.portfolio-ideas .theme .btn{
    padding: 18px 29px;
    font-size: 14px;
    font-weight: 800;
    font-family: 'raleway';
    background-color: #998675;
    text-transform: uppercase;
}
.portfolio-ideas .theme .btn:hover{
    background-color: #685a4d;
}

.projects h2{
    text-align: center;
    font-size: 30px;
    font-family: 'raleway';
    font-weight: 600;
    color: #555;
    margin-top: 80px;
}

.projects p{
    text-align: center;
    font-size: 16px;
    font-family: 'montserrat';
    font-weight: 300;
    color: #8c8c8c;
    margin-top: 27px;
}

.projects .tab-content .tab-pane .container .row .card{
   
}
.projects .tab-content .tab-pane .container .row .card .card-body{
    margin: 0 auto;
}

.projects .tab-content .tab-pane .container .row .card .card-body h3{
    font-family: 'raleway';
    font-size: 20px;
    font-weight: 500;
    color: #c7b299;
    text-align: center;
}
.projects .tab-content .tab-pane .container .row .card .card-body span{
    font-family: 'montserrat';
    font-size: 14px;
    font-weight: 300;
    color: #d1d1d1;
    text-align: center;
}
.projects .nav-pills .nav-item .nav-link{
    font-size: 14px;
    font-weight: 300;
    font-family: 'montserrat';
    color: #8c8c8c;
    border: 1px solid #ebebeb;
    margin-right: 10px;
}
.projects .tab-content .tab-pane .container .row .card:hover{
    background-color: #362f2d;
}

.projects .tab-content .tab-pane .container .row .card .card-body:hover{
    color: #fff;
}

.projects .tab-content .tab-pane .container .row .card .card-body h3:hover{
    color: #fff;
}

.projects .tab-content .tab-pane .container .row .col .card{
    max-width: 100%;
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.6s ease-out ;

}
.projects .tab-content .tab-pane .container .row .card:hover{
    transform: translateY(15px);
} 
.projects .tab-content .tab-pane .container .row .card:hover:before{
    opacity: 1; 
}
.projects .tab-content .tab-pane .container .row .card:hover .card-link{
    opacity: 1;
    transform: translateY(0);
}
.projects .tab-content .tab-pane .container .row .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%; 
    height: 100%;
    background: linear-gradient(to top, #000, transparent);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
} 
.projects .tab-content .tab-pane .container .row .card .card-link{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(60px);
    transition: 0.5s;
}
.projects .tab-content .tab-pane .container .row .card .card-link {
    width: 100%;
    margin: 150px auto 0;
   position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
}
.projects .tab-content .tab-pane .container .row .card .card-link a i{
    position: relative;
    margin-right: 15px;
    color: #fff;
    font-size:  26px;
}

.projects .nav-pills .nav-item .active{
    background-color: #998675;
    color: white;
    padding: 6px 27px 6px 27px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'montserrat';
}
.projects .btn{
    display: block;
    justify-content: center;
    margin: 40px auto 80px ;
    font-weight: 600;
    font-family: 'montserrat';
    font-size: 14px;
    padding: 20px 50px 17px 50px;
    background-color: #998675;
    text-transform: uppercase;
}

/*///////////////// start presentation//////////////// */

.presentation{
    width: 100%;
    height: 606px;
}

.presentation img{
    width: 100%;
    height: 606px;
    position: absolute;

}
.presentation .video-text{
    width: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 210px auto 0;
}
.presentation .video-text h2{
    font-size:30px;
    font-weight:500;
    font-family: 'raleway';
    color: #fff;
    text-align: center;
}
.presentation .video-text p{
    font-size: 14px;
    font-weight: 500;
    font-family: 'montserrat';
    color: #fff;
    text-align: center;
    margin-top: 17px;
    line-height: 20px;
}
.presentation .video-text span{
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c7b299;
    text-align: center;
    margin: 0 auto 0;
}
.presentation .video-text i{
    font-size: 102px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0;
    display: flex;
    margin-bottom: 50px;
    opacity: 0.6;
}

/*////////// start devices///////// */

.container .devices{
    display: flex;
    margin-top: 80px;
}
.container .devices img{
    width: 325px;
}
.container .devices .devices-text{
    margin-top: 80px;
}
.container .devices .devices-text ul{
    margin-left: 55px;
}
.container .devices .devices-text h3{
    font-weight: 600;
    font-size: 30px;
    font-family: 'raleway';
    color: #555555;

}
.container .devices .devices-text p{
    font-weight: 500;
    font-size: 16px;
    font-family: 'montserrat';
    color: #8c8c8c;

}
.container .devices .devices-text ul li{
    font-weight: 500;
    font-size: 12px;
    font-family: 'montserrat';
    color: #8c8c8c;

}
.container .devices .devices-text ul li i{
    font-size: 21px;
    color: #c7b299;
    margin-right: 29px;
}

/* //////////////End devices///////////// */

/* ////////////start clients///////////////// */

.clients{
    height: 300px;
    background: rgb(40,31,28);
    background: linear-gradient(49deg, rgba(40,31,28,1) 0%, rgba(72,49,37,1) 100%);
}

.clients .container .clients-text i{
    width: 100%;
    font-size: 50px;
    color: #c7b299;
    margin-bottom: 29px;
    display: flex;
    justify-content: center;
}
.clients .container {
    display: flex;
    justify-content: center;
   
}
.clients .container .clients-text{
    margin: 68px 85px 0 0;
}
.clients .container .clients-text h2{
    font-size: 48px;
    font-weight: 200;
    font-family: 'montserrat';
    color: #fff;
    text-align: center;
}
.clients .container .clients-text p{
    font-size: 12px;
    font-weight: 500;
    font-family: 'montserrat';
    color: #c7b299;
    text-align: center;
    text-transform: uppercase;
}
/*/////////////////// end clients/////////////// */

/*///////////////// start post//////////////////// */

.container .row .col .post {
    margin-bottom: 142px;
    margin-top: 83px;
}
.container .row .col .post .card-images{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 43px;
}
.container .row .col .post .card-images .card{
    width: 370px;
    margin: 0 15px 0;
}
.container .row .col .post h2{
    font-size: 30px;
    font-weight: 600;
    font-family: 'raleway';
    color: #555555;
    text-align: center;
   
}
.container .row .col .post p{
    font-size: 16px;
    font-weight: 300;
    font-family: 'montserrat';
    color: #8c8c8c;
    text-align: center;
}
.card .date{
    width: 50px;
    height: 60px;
    position: absolute;
    margin: 20px;
}
.card .date h3{
    width: 100%;
    height: 35px;
    background: #363636;
    border-radius: 3px 3px 0 0;
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: 'montserrat';
    font-weight:300;
    color: white;
    margin: 0;
   
}
.card .date span{
    width: 100%;
    height: 25px;
    background: #252525;
    border-radius: 0 0 3px 3px;
    display: block;
    text-align: center;
    font-size: 12px;
    color: white;
    margin: 0;
}
.next-button{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 80px;
}
.next-button a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  .next-button  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .next-button .previous {
    background-color: #f1f1f1;
    color: black;
    border: 2px solid #d4d4d4;
    margin: o 4px;
  }
  
  .next-button .next {
    background-color: #fff;
    color: black;
    border: 2px solid #cfbda8;
    margin: 0 4px;
  }
  
  .next-button .round {
    border-radius: 50%;
  }

  /*//////////// end posts//////// */

  /*//////////// start images/////////// */

  .images{
      margin-top: 80px;
      width: 100%;
      height: 100vh;
      background-image: url(./img/photo1.png);
      background-position: center;
      background-size: cover;
      position: relative;
      
  }
  .images .logos {
      width: 100%;
     position: absolute;
      margin: 140px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    
  }
  .images .logos img{
      margin: 0 45px;
  }
  /* //////////////end images ///////// */

/*////////////// start footer ////////////// */

footer{
    width: 100%;
    height: 550px;
    background-color: #191919;
    position: absolute;
    border-top: 1px solid #fff;
}
.information{
    display: flex;
    justify-content: center;
    margin: 100px auto 0;
}
.information .wahom-post{
    width: 261px;
    margin: 0 22px 0;
    
}
.information .wahom-post h3{
    font-size: 34px;
    font-family: 'raleway';
    font-weight: 400;
    color: #fff;
    display: inline-block;
   
}
.information .wahom-post p{
    font-size: 14px;
    font-family: 'montserrat';
    font-weight: 300;
    color: #555555;
    margin-top: 31px;
}
.information .recent-posts{
    width: 261px;
    margin: 0 22px 0;
}
.information .recent-posts h3{
    font-family: 'raleway';
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 33px;
}
.information .recent-posts .full-post{
    border-bottom: 1px solid #252525;
    margin-bottom: 19px;
}
.information .recent-posts .full-post p:hover{
    color: #c7b299;
}
.information .recent-posts .full-post:last-child{
    border: none;
}
.information .recent-posts .full-post span{
    font-family: 'montserrat';
    font-size: 12px;
    font-weight: 300;
    color: #363636;
}
.information .recent-posts .full-post p{
    font-family: 'montserrat';
    font-size: 14px;
    font-weight: 300;
    color: #555555;
}
.information .twitter{
    width: 272px;
    margin: 0 22px 0;
}
.information .twitter h3{
    font-size: 24px;
    color: #fff;
    margin-bottom: 33px;
}
.information .twitter .full-twitter{
    margin-bottom: 19px;
    border-bottom: 1px solid #252525;
}
.information .twitter .full-twitter p:hover{
    color: #c7b299;
}
.information .twitter .full-twitter:last-child{
    border: none;
}
.information .twitter .full-twitter p{
    font-size: 14px;
    font-weight: 300;
    font-family: 'montserrat';
    color: #555555;
}
.information .twitter .full-twitter span{
    font-size: 12px;
    font-weight: 300;
    font-family: 'montserrat';
    color: #363636;
}
.information .widget{
    width: 272px;
}
.information .widget h3{
    font-size: 24px;
    font-weight: 700;
    font-family: 'raleway';
    margin-bottom: 33px;
    color: #fff;
}
.information .widget img{
    margin-bottom: 5px;
    width: 131px;
}

footer .footer-bottom{
     height: 110px;
    background-color: #111111;
    display: flex;
    justify-content: space-around;
}
footer .footer-bottom .foot-left{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
footer .footer-bottom .foot-right{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}
footer .footer-bottom .foot-left h3{
    font-size: 13px;
    font-weight: 300;
    font-family: 'montserrat';
    color: #555555;
}
footer .footer-bottom .foot-left .text{
    height: 14px;
    font-size: 13px;
    font-weight: 300;
    font-family: 'montserrat';
    color: #555555;
    margin: 0 24px 0;
    padding: 1px;
   
}

footer .footer-bottom .foot-right h3{
    font-size: 13px;
    font-weight: 300;
    font-family: 'montserrat';
    color: #555555;
}
footer .footer-bottom .foot-right .text{
    height: 14px;
    font-size: 13px;
    font-weight: 300;
    font-family: 'montserrat';
    color: #555555;
    margin: 0 24px 0;
  
}
footer .footer-bottom .foot-left .text a{
    text-decoration: none;
    color: #555;
}
footer .footer-bottom .foot-left .text a:hover{
    color: white;
}
footer .footer-bottom .foot-right .text a{
    text-decoration: none;
    color: #555;
}
footer .footer-bottom .foot-right .text a:hover{
    color: white;
}

@media(max-width:768px){
   
    .information{
        height: 420px;
        margin: 50px auto 0;
    }
    .information .wahom-post{
        width: 100px;
        margin: 0 8px 0;
        
    }
    .information .wahom-post img{
        width: 50px;
    }
    .information .wahom-post .btn {
        width: 70px;
        height: 30px;
        font-size: 8px;
    }
    .information .wahom-post h3{
        font-size: 14px;
       
    }
    .information .wahom-post p{
        font-size: 8px;
        margin-top: 11px;
    }
    .information .recent-posts{
        width: 100px;
        margin: 0 12px 0;
    }
    .information .recent-posts h3{
        font-size: 14px;
        margin-bottom: 6px;
    }
    .information .recent-posts .full-post{
        border-bottom: 1px solid #252525;
        margin-bottom: 10px;
    }
    
    .information .recent-posts .full-post span{
        font-family: 'montserrat';
        font-size: 10px;
        font-weight: 300;
        color: #363636;
    }
    .information .recent-posts .full-post p{
        font-size: 8px;
    }
    .information .twitter{
        width: 100px;
        margin: 0 10px 0;
    }
    .information .twitter h3{
        font-size: 14px;
        color: #fff;
        margin-bottom: 13px;
    }
    .information .twitter .full-twitter{
        margin-bottom: 10px;
    }
    .information .twitter .full-twitter p{
        font-size: 8px;
    }
    .information .twitter .full-twitter span{
        font-size: 8px;
    }
    .information .widget{
        width: 100px;
    }
    .information .widget h3{
        font-size: 14px;
        margin-bottom: 13px;
    }
    .information .widget img{
        margin-bottom: 5px;
        width: 100px;
    }
    
    footer .footer-bottom{
         height: 70px;
       
    }
    footer .footer-bottom .foot-left{
        margin-top: 20px;
    }
    footer .footer-bottom .foot-right{
        margin-top: 20px;
        
    }
    footer .footer-bottom .foot-left h3{
        font-size: 8px;
    }
    footer .footer-bottom .foot-left .text{
        height: 8px;
        font-size: 8px;
        margin: 0 8px 0;
        padding: 1px;
       
    }
    
    footer .footer-bottom .foot-right h3{
        font-size: 8px;
    }
    footer .footer-bottom .foot-right .text{
        height: 8px;
        font-size: 8px;
        margin: 0 8px 0;
      
    }
}

@media (min-width:769px) and (max-width:991px){
    .information{
        height: 420px;
        margin: 50px auto 0;
    }
    .information .wahom-post{
        width: 160px;
        margin: 0 12px 0;
        
    }
    .information .wahom-post img{
        width: 80px;
    }
    .information .wahom-post .btn {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
    .information .wahom-post h3{
        font-size: 18px;
       
    }
    .information .wahom-post p{
        font-size: 12px;
        margin-top: 14px;
    }
    .information .recent-posts{
        width: 160px;
        margin: 0 14px 0;
    }
    .information .recent-posts h3{
        font-size: 16px;
        margin-bottom: 8px;
    }
    .information .recent-posts .full-post{
        border-bottom: 1px solid #252525;
        margin-bottom: 14px;
    }
    
    .information .recent-posts .full-post span{
        font-family: 'montserrat';
        font-size: 14px;
        font-weight: 300;
        color: #363636;
    }
    .information .recent-posts .full-post p{
        font-size: 12px;
    }
    .information .twitter{
        width: 160px;
        margin: 0 10px 0;
    }
    .information .twitter h3{
        font-size: 16px;
        color: #fff;
        margin-bottom: 16px;
    }
    .information .twitter .full-twitter{
        margin-bottom: 14px;
    }
    .information .twitter .full-twitter p{
        font-size: 12px;
    }
    .information .twitter .full-twitter span{
        font-size: 10px;
    }
    .information .widget{
        width: 160px;
    }
    .information .widget h3{
        font-size: 16px;
        margin-bottom: 16px;
    }
    .information .widget img{
        margin-bottom: 5px;
        width: 120px;
    }
    
    footer .footer-bottom{
         height: 70px;
       
    }
    footer .footer-bottom .foot-left{
        margin-top: 30px;
    }
    footer .footer-bottom .foot-right{
        margin-top: 30px;
        
    }
    footer .footer-bottom .foot-left h3{
        font-size: 12px;
    }
    footer .footer-bottom .foot-left .text{
        height: 12px;
        font-size: 12px;
        margin: 0 12px 0;
        padding: 1px;
       
    }
    
    footer .footer-bottom .foot-right h3{
        font-size: 12px;
    }
    footer .footer-bottom .foot-right .text{
        height: 12px;
        font-size: 12px;
        margin: 0 12px 0;
      
    }
}
 
@media (min-width:992px) and (max-width:1180px){
    .information{
        height: 500px;
        margin: 50px auto 0;
    }
    .information .widget{
        width: 160px;
    }
    .information .widget h3{
        font-size: 24px;
        margin-bottom: 16px;
    }
    .information .widget img{
        margin-bottom: 5px;
        width: 120px;
    }
}